<apex:page showHeader="true" sidebar="false" standardStylesheets="false" controller="ConfigureDataController">
    <!-- Begin Default Content REMOVE THIS -->
    
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/bootstrap.bs.min.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/bootstrap-table.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/font-awesome.min.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/salesforce-lightning-design-system-vf.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/dialog.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/main.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/loaderStyle.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/Configure/brandingTemplate.css')}"/>    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600' rel='stylesheet' type='text/css'/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/sumoselect.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Appointed, 'appointed/css/Configure/configurePage.css')}"/>
    <style id="appendDynamiCss"></style>
    <apex:outputPanel >
            <apex:actionRegion >
              
                <div class="bs inbuildtemplate">
                 <div class="location-left">
                    <div class="clearfix"></div>
                    <ul class="masterDataTab-menu">
                       <li data-tab="appset" class="active">Application Settings</li>
                       <li data-tab="places">{!JSINHTMLENCODE(Custset_LocationPlural)}</li>                       
                       <li data-tab="servCategory">{!JSINHTMLENCODE(Custset_CategoryPlural)} in each {!JSINHTMLENCODE(Custset_Location)}</li>
                       <li data-tab="resources">Resources</li>
                       <li data-tab="providers">People</li>
                       <li data-tab="pepInEach" onclick="loadCategoryPeopleData()">People in each {!JSINHTMLENCODE(Custset_Category)} per {!JSINHTMLENCODE(Custset_Location)}</li>
                       <li data-tab="appointTypes">Appointment Types</li>
                       <li data-tab="resInEach" onclick="loadResourceAppTypeData()">Resources in each Appointment Type</li>
                       <li data-tab="branding" onclick="loadBrandingData()">Branding</li>
                       <li data-tab="register" onclick="checkWebFromRegistration()">Register for Appointment Webform</li>
                       <li data-tab="navigateToPages">Navigate To</li>
                    </ul>
                 </div>
                 <div class="location-right">
                 
                    
                    <!--  Configure meta data page starts -->
                    
                    <div class="masterData_TabContent active">
                        
                        <div class="pagetitle">Application Settings</div>
                        <div class="configuration-tab">
                            <div class="col-md-12">
                                <form class="form-horizontal" id="metaDataConfigForm">                                    
                                    
                                    <div class="business-hours row">
                                        <h1>Set Calendar View Hours</h1>                               
                                    </div>
                                    <div class="clearfix"></div> 
                                    <div class="form-group">
                                        <label class="control-label settimelabel">Start Time</label>
                                        <div class="pull-left">
                                            <select class="form-control" name="businessStartTime" id="businessStartTime"></select>
                                        </div>
                                        <label class="control-label settimelabel endtime">End Time</label>
                                        <div class="pull-left">
                                            <select class="form-control" name="businessEndTime" id="businessEndTime"></select>
                                        </div>                                  
                                    </div>                                
                                    
                                    <div class="labels-heading row">
                                        <h1 class="pull-left" style="color: #000000;font-size: 17px;margin: 0;padding: 0 0 5px;font-weight: 400;font-family: Open Sans;display: block;">Edit Labels</h1>
                                        <!-- <div class="pull-left editdata">
                                                <a href="javascript:void(0)" class="editConfigurationData"><i class="fa fa-pencil"></i></a>
                                        </div> -->
                                        <div class="clearfix"></div>
                                        <p style="font-family: Open Sans;font-size: 12px;"><b>Note:</b> Double click on the grey boxes to edit the text.</p>
                                    </div>
                                    <div class="application-settings row">
                                       <div class="col-md-6 first-group col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label curretvalue">Label Name</label>
                                                <div class="pull-left"> 
                                                    <label class="control-label curretvalue">Current Value (Singular)</label>
                                                </div>                              
                                            </div>
                                             <div class="form-group">
                                                <label class="control-label">Location</label>
                                                <div class="pull-left">
                                                    <input type="text" class="form-control" name="location_config" value="{!JSINHTMLENCODE(Custset_Location)}" id="location_config" readonly="readonly" maxlength="250"/>
                                                </div>
                                             </div>
                                            <div class="form-group">
                                                <label class="control-label">Category</label>
                                                <div class="pull-left">
                                                    <input type="text" class="form-control" name="category_config" readonly="readonly" value="{!JSINHTMLENCODE(Custset_Category)}" id="category_config" maxlength="250"/>
                                                </div>
                                            </div>                                       
                                            <div class="form-group">
                                                <label class="control-label">Service Provider</label>
                                                <div class="pull-left">
                                                    <input type="text" class="form-control" name="serviceProvider_config" readonly="readonly" value="{!JSINHTMLENCODE(Custset_Serviceprovider)}" id="serviceProvider_config" maxlength="250"/>
                                                </div>
                                             </div>
                                            <div class="form-group">
                                                <label class="control-label">Assistant</label>
                                                <div class="pull-left">
                                                    <input type="text" class="form-control" name="assistant_config" readonly="readonly" value="{!JSINHTMLENCODE(Custset_Assistant)}" id="assistant_config" maxlength="250"/>
                                                </div>
                                             </div>
                                            <div class="form-group">
                                                <label class="control-label">Customer</label>
                                                <div class="pull-left"> 
                                                    <input type="text" class="form-control" name="customer_config" readonly="readonly" value="{!JSINHTMLENCODE(Custset_Customer)}" id="customer_config" maxlength="250"/>
                                                </div>
                                             </div>  
                                        </div> 
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <div class="pull-left"> 
                                                    <label class="control-label curretvalue">Current Value (Plural)</label>
                                                </div>                              
                                            </div>
                                            <div class="form-group">
                                                <div class="pull-left"> 
                                                    <input type="text" class="form-control" name="Location_config_plural" readonly="readonly" value="{!JSINHTMLENCODE(Custset_LocationPlural)}" id="Location_config_plural" maxlength="250"/>
                                                </div>
                                            </div> 
                                            <div class="form-group">
                                                <div class="pull-left"> 
                                                    <input type="text" class="form-control" name="Category_config_plural" readonly="readonly" value="{!JSINHTMLENCODE(Custset_CategoryPlural)}" id="Category_config_plural" maxlength="250"/>
                                                </div>
                                            </div>                                         
                                            <div class="form-group">
                                                <div class="pull-left"> 
                                                    <input type="text" class="form-control" name="Serviceprovider_config_plural" readonly="readonly" value="{!JSINHTMLENCODE(Custset_ServiceproviderPlural)}" id="Serviceprovider_config_plural" maxlength="250"/>
                                                </div>
                                             </div>                                          
                                            <div class="form-group">
                                                <div class="pull-left"> 
                                                    <input type="text" class="form-control" name="Assistant_config_plural" readonly="readonly" value="{!JSINHTMLENCODE(Custset_AssistantPlural)}" id="Assistant_config_plural" maxlength="250"/>
                                                </div>
                                            </div>  
                                            <div class="form-group">
                                                <div class="pull-left"> 
                                                    <input type="text" class="form-control" name="customer_config_plural" readonly="readonly" value="{!JSINHTMLENCODE(Custset_CustomerPlural)}" id="customer_config_plural" maxlength="250"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">                                  
                                        </div>
                                    </div>                             
                                    <div class="buttoncontainer pull-right">
                                        <button class="btn btn-default submitbtn" type="button" onclick="SaveLabelchangers()">Save</button>
                                    </div>
                                    
                                </form>         
                            </div>
                        </div>
                        <div class="clearfix"></div>                
                    </div>
                    
                    <!--  Configure meta data page ends -->
                     
                    <!-- Location page starts --> 
                    <div class="masterData_TabContent">
                         <div class="pagetitle">{!JSINHTMLENCODE(Custset_LocationPlural)}</div>
                         <div class="set-location"><label>{!JSINHTMLENCODE(Custset_LocationPlural)} refer to where your appointments occur. Create as many {!JSINHTMLENCODE(Custset_LocationPlural)} as you need.</label></div>
                        <div class="list-wrapper">
                            <ul class="points-listing">
                                <li>Click "Add {!JSINHTMLENCODE(Custset_Location)}" to open the create/edit dialogue box.</li>
                                <li>The address you enter for each {!JSINHTMLENCODE(Custset_Location)} will be displayed in the Online Booking Tool when your customers are booking appointments. Google maps will display the {!JSINHTMLENCODE(Custset_Location)} at the end of the booking process.</li>
                            </ul>
                        </div>
                        <div class="labels-head">
                             <h1>
                              <a id="addLocation" href="javascript:void(0)">Add {!JSINHTMLENCODE(Custset_Location)}</a>   
                             </h1>
                        </div>
                         <table id="locationGrid" class="table table-no-bordered"></table> 
                    </div>
                    <!-- Location page ends -->                      
                     
                    <!--  location category mapping page starts -->
                    
                    <div class="masterData_TabContent">
                        <div class="pagetitle">{!JSINHTMLENCODE(Custset_CategoryPlural)}</div>
                        <div class="set-location"><label>{!JSINHTMLENCODE(Custset_CategoryPlural)} are the broad types of services that you provide.  Create {!JSINHTMLENCODE(Custset_CategoryPlural)} to group your appointment types and to determine which {!JSINHTMLENCODE(Custset_LocationPlural)} can provide them.</label></div>                          
                        <div class="list-wrapper">
                            <ul class="points-listing">
                                <li>Swap between {!Custset_LocationPlural} in the dropdown menu to set which {!JSINHTMLENCODE(Custset_CategoryPlural)} are available at each {!JSINHTMLENCODE(Custset_Location)}</li>
                                <li>Click “Add {!JSINHTMLENCODE(Custset_Category)}” to create new {!JSINHTMLENCODE(Custset_CategoryPlural)}.</li>
                                <li>Each {!JSINHTMLENCODE(Custset_Location)} must have at least one {!JSINHTMLENCODE(Custset_Category)}</li>
                                <li>Different {!JSINHTMLENCODE(Custset_LocationPlural)} can include some or all of your {!JSINHTMLENCODE(Custset_CategoryPlural)}</li>
                            </ul>    
                        </div>
                        <div class="set-location">
                            <label>{!JSINHTMLENCODE(Custset_Location)}</label>
                         </div>                         
                         <form>
                             <div class="relative form-group">
                                 <select id="categoryLoc" class="form-control">
                                     <!-- #catLocationListTemplate will render here -->
                                 </select>
                             </div>
                         </form><br/> 
                         <div class="clearfix"></div>
                         <div class="set-location">
                            <label>Choose {!JSINHTMLENCODE(Custset_CategoryPlural)} available at this {!JSINHTMLENCODE(Custset_Location)}</label>
                         </div>  
                         <div class="labels-head">
                             <h1><a id="addCategory" href="javascript:void(0);">Add {!JSINHTMLENCODE(Custset_Category)}</a></h1>
                         </div>
                         <div id="catLocWarningMsg"></div>
                         <table id="categoryGrid" class="table table-no-bordered"></table> 
                         <div class="buttoncontainer pull-right">
                             <button id="saveCatLocMapping" class="btn btn-default submitbtn" type="button">Save</button>
                         </div>
                     </div> 
                    
                    <!--  location category mapping page ends -->
                     
                     <!-- Resources page starts -->
                     <div class="masterData_TabContent">
                        <div class="pagetitle">Resources</div>                         
                        <div class="set-location"><label>Resources are things that are required for your appointments to be available: people, rooms, machines, etc.  <br/>For example, an appointment may require a Service Provider, Assistant and a Room.  You can use Resource Categories to group these together should you have more than one type of Service Provider, Assistant and Room.</label></div> 
                        <div class="list-wrapper">
                            <ul class="points-listing">
                                <li>Create Resource Categories divided into Human and Non-Human.</li>
                                <li>For Non-Human Resources - click on the Resource Category name to then create Specific Resources.</li>
                                <li>Overbooking Limit describes how many appointments can be booked using that same resource at one time. This is useful for shared resources or for overbooking.</li>
                                <li>For Human Resources - click on the People tab to create specific people in each category.</li>
                            </ul>    
                        </div>                        
                        <div style="font-family: Open Sans;">Note: Each Resource Category must have at least one “Specific Resource”. Resource Categories without specific resources will be highlighted with red zeros to remind you that you need to create Specific Resources.</div>
                        <div style="padding-top:15px;">                         
                            <div class="set-location"><label style="font-size: 17px;">Resource Categories</label></div>  
                            <div class="labels-head">
                                <h1><a id="addResourceType" href="javascript:void(0);">Add Resource Category</a></h1>
                            </div>
                        </div>                       
                         <table id="resourceTypeGrid" class="table table-no-bordered"></table> 
                     </div>
                     <!-- Resources page ends -->                    
                    
                     <!-- Providers page starts -->
                     <div class="masterData_TabContent">
                        <div class="pagetitle">People</div>
                        <div class="set-location"><label>People are the Service Providers and Assistants who can be take or be assigned to appointments</label></div>
                        <div class="list-wrapper">
                            <ul class="points-listing">
                                <li>Click “Add People” to create new people records.</li>
                                <li>People resources do not have to be Salesforce users.</li>
                            </ul>
                         </div>                        
                        <div class="labels-head">
                            <h1><a id="addContact" href="javascript:void(0);">Add People</a></h1>
                        </div>
                        <table id="peopleGrid" class="table table-no-bordered"></table> 
                     </div>
                     <!-- Providers page ends -->
                     
                    <!--  peaople in each category mapping page starts -->
                    <div class="masterData_TabContent" id="CategoryPeopleMappingTab">
                        <div class="pagetitle">
                            People in each {!JSINHTMLENCODE(Custset_Category)} per {!JSINHTMLENCODE(Custset_Location)}
                        </div>       
                        <div class="set-location"><label>This is where you choose which Service Providers can provide specific {!JSINHTMLENCODE(Custset_CategoryPlural)} of service in each {!JSINHTMLENCODE(Custset_Location)}.</label></div>
                        <div class="list-wrapper">
                            <ul class="points-listing">
                                <li>If you have lots of {!JSINHTMLENCODE(Custset_CategoryPlural)} and {!JSINHTMLENCODE(Custset_LocationPlural)}, then your selections here will help you shorten the list of providers in your Schedule Manager view.</li>
                                <li>This is also helpful if you have one type of Human Resource that can do several types of Service.  Ie. a “Doctor” that can do services in multiple {!JSINHTMLENCODE(Custset_CategoryPlural)}.</li>                                
                            </ul>
                        </div>
                        <div class="locationCategoryMapping-tabContent">
                            <div class="set-location">
                               <label>{!JSINHTMLENCODE(Custset_Location)}</label>
                            </div>
                            <form id="md_locationCategoryPeopleForm">
                                <div class="relative form-group">
                                    <select class="form-control" id="md_lcpm_locationDropDown" name="md_lcpm_locationDropDown">
                                        <option>--Select--</option>
                                    </select>
                                </div>
                            </form>
                            <div class="clearfix"></div>
                            <div class="practitioners-tab">
                                <div class="bhoechie-tab-container" id="practitionerTabSection">
                                    <div class="bhoechie-tab-menu">
                                        <div class="tab-description">{!JSINHTMLENCODE(Custset_Category)}</div>
                                        <div class="list-group" id="locationCategoryMappedListForPractitioner"></div>
                                    </div>
                                    <div class="bhoechie-tab"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="buttoncontainer pull-right">
                                <button class="btn btn-default submitbtn pull-right" id="mdLocationCategoryPeopleMappingBtn">Save</button>
                            </div>
                            
                        </div>
                        
                        <div class="clearfix"></div>
                        
                    </div>
                    <!--  peaople in each category mapping page ends -->
                    
                     <!-- Appointment Types page starts --> 
                     <div class="masterData_TabContent">
                        <div class="pagetitle">Appointment Types</div>
                         <div class="set-location"><label>Appointment Types are the different kinds of appointments that you offer.</label></div>  
                         <div class="list-wrapper">
                             <ul class="points-listing">
                                <li>Times must be in 15 minute increments.  30 or 45-minute appointments are okay but not 50 minute.</li>
                                <li>Tip: Include the time in the name if you want to allow customers to see the time in the online bookings tool.  Ex. “Follow-up appointment (One hour)”</li>
                             </ul>
                         </div>
                        <div class="labels-head">
                            <h1><a id="addAppointmentType" href="javascript:void(0);">Add Appointment Type</a></h1>
                        </div>
                        <table id="appointmentTypeGrid" class="table table-no-bordered"></table>
                     </div>
                     <!-- Appointment Types page ends -->  
                    
                    <!--  AppointmentType resource mapping page starts -->          
                    
                    <div class="masterData_TabContent">
                        
                        <div class="pagetitle">
                           Resources in each Appointment Type
                        </div>
                        <div class="set-location"><label>The penultimate step: assigning resources to appointments.</label></div>
                         <div class="list-wrapper">
                             <ul class="points-listing">
                                <li>Add as many resources as you need to each appointment type.</li>
                                <li>Human Resources can be specific or “any” which is first available.</li>
                                <li>Every Appointment Type must have at least one Resource required</li>
                                <li>** Don’t forget the final step- Set your Human Resource’s available times from the link on the Schedule Manger view</li>
                             </ul>
                        </div>
                        
                        <div class="clearfix"></div>                        
                        <form name="appTypeResTypeForm">
                            <div class="col-md-6 row">
                                <div class="set-location">
                                   <label>{!JSINHTMLENCODE(Custset_Category)}</label>
                                </div>
                                <div class="resource form-group">
                                    <select name="RAM_categories" id="RAM_categories" class="form-control ">
                                        <option value="">--Select--</option>                                    
                                    </select>               
                                </div>
                            </div>
                            <div class="col-md-6 row">
                                <div class="set-location">
                                   <label>Appointment Type</label>
                                </div>
                                <div class="resource form-group">
                                    <select name="appointmentTypeList" id="appointmentTypeList" class="form-control ">
                                        <option value="">--Select--</option>
                                    </select>               
                                </div>
                            </div>
                            <div class="clearfix"></div>    
                            <div class="appointment-type">
                                <div class="head">
                                    <h1>Resources</h1>
                                    <span id="addResourceRowBtn">+</span>
                                </div>
                                <div id="resourceRowContainer"></div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                        <div class="buttoncontainer pull-right">
                            <button class="btn btn-default submitbtn pull-right" id="saveAppTypeResTypeMapping">Save</button>                            
                        </div>
                        
                    </div>
                    
                     <!--  AppointmentType resource mapping page ends -->  
                     
                     <!-- Branding page starts -->
                     <div class="masterData_TabContent">
                         <form name="brandingForm">
                         <div class="pagetitle">Branding</div>  
                         <div class="set-location"><label>Set the colors and logo for your Online Booking Tool which will be visible to your customers:</label></div>
                         <div class="list-wrapper">
                             <ul class="points-listing">
                                 <li>Upload logo (Max size 200 KB, File format- PNG, JPEG, JPG)</li>
                                 <li>Set specific colors for your Header, Highlights, Summary, and Footer</li>
                                 <li>Fill in your Terms and Conditions – this will be visible and accepted by the customer on the last step of the booking process</li>
                                 <li>Create a “Book Appointment” link/button which can be added to your website.</li>
                             </ul>    
                         </div>
                         <div>                              
                             <ul class="list-inline" id="brandingInfoCont">
                                 <li>
                                     <div class="form-group">
                                         <label for="logoImageInputFile">Upload Logo</label>
                                         <input type="file" id="logoImageInputFile" name="logoImageInputFile" />
                                         <!-- <p class="help-block">Select logo for End user web form.</p> -->
                                     </div>
                                 </li>
                                 <li>
                                     <div class="form-group">
                                         <label for="headerColorInput">Header</label>
                                         <input class="jscolor {hash:true} form-control" name="headerColorInput" onchange="updateTemplateColor(this)" id="headerColorInput" value="#eae5e5" style="width:100px;" />
                                     </div>
                                     <div class="form-group">
                                         <label for="headerColorInput">Header Text</label>
                                         <input class="jscolor {hash:true} form-control" name="headerTextColorInput" onchange="updateTemplateColor(this)" id="headerTextColorInput" value="#000000" style="width:100px;" />
                                     </div>
                                 </li>
                                 <li>
                                     <div class="form-group">
                                         <label for="iconColorInput">Highlights</label>
                                         <input class="jscolor {hash:true} form-control" name="iconColorInput" onchange="updateTemplateColor(this)" id="iconColorInput" value="#f1762f" style="width:100px;" />
                                     </div>
                                     <div class="form-group">
                                         <label for="iconColorInput">Page Title</label>
                                         <input class="jscolor {hash:true} form-control" name="iconTextColorInput" onchange="updateTemplateColor(this)" id="iconTextColorInput" value="#000000" style="width:100px;" />
                                     </div>
                                 </li>
                                 <li>
                                     <div class="form-group">
                                         <label for="summarybgColorInput">Summary</label>
                                         <input class="jscolor {hash:true} form-control" name="summarybgColorInput" onchange="updateTemplateColor(this)" id="summarybgColorInput" value="#f6f2d9" style="width:100px;" />
                                     </div> 
                                     <div class="form-group">
                                         <label for="summarybgColorInput">Summary Text</label>
                                         <input class="jscolor {hash:true} form-control" name="summaryTextColorInput" onchange="updateTemplateColor(this)" id="summaryTextColorInput" value="#000000" style="width:100px;" />
                                     </div>
                                 </li>
                                 <li>
                                     <div class="form-group">
                                         <label for="footerColorInput">Footer</label>
                                         <input class="jscolor {hash:true} form-control" name="footerColorInput" onchange="updateTemplateColor(this)" id="footerColorInput" value="#D9D9DE" style="width:100px;" />
                                     </div>
                                     <div class="form-group">
                                         <label for="footerColorInput">Footer Text</label>
                                         <input class="jscolor {hash:true} form-control" name="footerTextColorInput" onchange="updateTemplateColor(this)" id="footerTextColorInput" value="#000000" style="width:100px;" />
                                     </div>
                                 </li>
                             </ul> 
                         </div>
                         <div class="clearfix"></div>
                         <div>
                             <div class="brandingTemplate" style="border: 1px solid #cdcdcd; padding: 5px;">    
                                 <nav class="navbar navbar-default navbar-static-top">
                                     <div>
                                         <div class="navbar-header">
                                             <a class="navbar-brand col-md-4 logo" href="javascript:void(0)">
                                                 <img id="defaultImage" src="{!URLFOR($Resource.Appointed, 'appointed/images/default_company_logo.png')}" alt="ePratice" class="logo-container"/>
                                             </a>
                                             <div class="welcometext"><h1 class="col-md-8">Welcome to schedule an appointment</h1></div>
                                         </div>
                                     </div>
                                     <div class="clearfix"></div>
                                     <header>               
                                         <div>
                                             <ul class="progressbar">
                                                 <li class="active"><span class="cutomLabelForLocation">Location</span></li>
                                                 <li><span>Appointment Criteria</span></li>
                                                 <li><span>Select</span> <span class="cutomLabelForPractitioner">Practitioner</span></li>
                                                 <li><span>Availability Calendar</span></li>
                                                 <li><span>Your Details</span></li>
                                                 <div class="clearfix"></div>
                                                 <div class="currentstate">Location</div>
                                             </ul>                  
                                         </div>
                                     </header>
                                 </nav>
                                 
                                 <div class="maincontainer">
                                     <div id="step1Section" class="stepSection">
                                         <div class="clearfix"></div>
                                         <div class="appointment-details">
                                             <div class="data-container mob-data-caontainer">
                                                 <div class="pagedetails">Select a <span class="cutomLabelForLocation">Location</span></div>
                                                 <div class="location-details">
                                                     <div class="pagetitle">
                                                         <i class="icon-location"></i><span class="cutomLabelForLocation">Location</span>
                                                     </div>
                                                     <div class="clearfix"></div>
                                                     <ul id="locationSelectionList">
                                                         <li data-id="a0736000004ikZTAAY" data-address="321 South Blvd Brisbane QLD AU 4000">Brisbane</li>
                                                         <li data-id="a0736000004ib36AAA" data-address="111 Martin Street Sydney NSW AU 2000">Sydney</li>
                                                     </ul>
                                                     <div class="clearfix"></div>
                                                 </div>
                                                 <div class="clearfix"></div>
                                             </div>
                                             
                                             <div class="clearfix"></div>
                                         </div>             
                                         <div class="clearfix"></div>
                                     </div>
                                     <div class="slidebar">
                                         <div class="appointment-summary">
                                             <h1>Appointment Summary</h1>
                                             <div class="summarydata">
                                                 <h2 class="cutomLabelForLocation">Practice</h2>
                                                 <p id="location_summary">321 South Blvd Brisbane QLD AU 4000</p>
                                             </div>
                                             <div class="clearfix"></div>
                                             <div class="summarydata">
                                                 <h2>Service</h2>
                                                 <p id="category_summary" class="nomargin">Massage Therapy</p>
                                                 <p id="appointment_summary">Remedial Massage (90 min)</p>
                                             </div>
                                             <div class="clearfix"></div>
                                             <div class="summarydata">
                                                 <h2 class="cutomLabelForPractitioner">Service Provider</h2>
                                                 <p id="practitioner_summary">Dr.James Brown</p>
                                             </div>
                                             <div class="clearfix"></div>
                                             <div class="summarydata">
                                                 <h2>Date &amp; Time</h2>
                                                 <p id="appointmentDate_summary" class="nomargin">21 June 2016</p>
                                                 <p id="appointmentTime_summary">07:00 am</p>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <footer>
                                     <div>
                                         <div class="pull-left">Powered by<img src="{!URLFOR($Resource.Appointed, 'appointed/images/appointed_logo.png')}" alt="" /></div>
                                         <div class="copyright">&#169; Appointed 2016. All Rights Reserved.</div>
                                         <div class="clearfix"></div>
                                     </div>
                                 </footer>
                             </div>
                         </div>
                         <div class="clear-fix"></div>
                         <hr />
     
                         <div class="form-group" id="branding-TCBlock">
                             <label for="termsConditionText">Set Terms and Condition text</label>
                             <textarea rows="5" name="termsConditionText" id="termsConditionText" cols="60" style="display:block" maxlength="1000" onkeyup="termsConditionRemainingchars()">CYSO is a busy practice and our time is precious. Please give 24 hours notice of cancellation. Failure to attend a scheduled appointment will incur 100% payment of the consultation fee. Cancellation with less than 24 hours notice incurs a payment of 50% of consultation fee.</textarea>
                             <div id="termsConditionRemainingtext" style="font-size: 12px;"></div>
                         </div>
                         
                         <div class="clear-fix"></div>
                         <hr />
                         
                         <ul class="list-inline" id="branding-ViewWFBtnBlock">
                             <li style="margin-left: 0px;">
                                 <div class="form-group">
                                     <label for="buttonText">Set Button label</label>
                                     <input type="text" name="buttonText" id="buttonText" class="form-control" value="Book Appointment" />
                                 </div>
                             </li>
                             <li>
                                 <div class="form-group">
                                     <label for="buttonColor">Button Color</label>
                                     <input class="jscolor {hash:true} form-control" name="buttonColorInput" onchange="updateTemplateColor(this)" id="buttonColorInput" value="ffffff" style="width:100px;" />
                                 </div>
                             </li>
                              <li>
                                 <div class="form-group">
                                     <label for="buttonColor">Button text Color</label>
                                     <input class="jscolor {hash:true} form-control" name="buttonTxtColorInput" onchange="updateTemplateColor(this)" id="buttonTxtColorInput" value="ffffff" style="width:100px;" />
                                 </div>
                             </li>
                             <li style="vertical-align: middle;">
                                 <button id="bookAppointmentBtn" type="button" style="min-height: 32px;min-width: 90px; padding: 5px 10px;font-weight:bold;">Book Appointment</button>
                             </li>
                         </ul>
                         </form>
                         <div class="clear-fix"></div>
                         <div class="buttoncontainer"><button class="btn btn-default submitbtn" id="uploadContent">Save</button></div>
                     </div>
                     <!-- Branding page ends -->
                     
                     <!-- Appointment webform registration section starts -->
                     <div class="masterData_TabContent">
                         <div class="pagetitle">Appointment webform registration</div>
                         <div class="set-location" id="webFormStatusMsg"><label>Click on the Register Me button to register yourself for Appointment Webform.</label></div>
                         <div>
                             <a href="https://test-epractice.herokuapp.com/getAuthorizationUrl" target="_blank" id="webFormRegViewBtn"><button class="btn btn-primary">Register Me</button></a>
                         </div>
                     </div>
                     <!-- Appointment webform registration section ends -->
                     
                     <!-- Navigate To Page starts-->
                     <div class="masterData_TabContent">
                         <div class="pagetitle">Navigate to pages</div>
                         <a href="javascript:void(0);" id="scheduleManagerPageLink">Schedule Manager</a> <br/>
                         <a href="javascript:void(0);" id="resourceAvailabilityPageLink">Resource Availability</a>
                     </div>
                     <!-- Navigate To Page ends-->
                  </div>
          
               </div>
                
            </apex:actionRegion>         
    </apex:outputPanel>
    
    <div class="bs dialogboxs modal" id="responseMsgPopup" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">              
                    <div class="col-md-12">
                        <p class="sucess"><i class="fa fa-check-circle"></i></p>
                    </div>              
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">               
                    <button type="button" class="btn btn-dialog" data-dismiss="modal">Ok</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <div class="bs dialogboxs modal" id="addEditLocation_dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create/Edit {!JSINHTMLENCODE(Custset_Location)}</h4>
                </div>
                <div class="modal-body">              
                    <div class="col-md-12">
                       <form id="saveLocationForm">
                        <div class="form-group">
                            <label for="inputLocationName">{!JSINHTMLENCODE(Custset_Location)} Name</label>
                            <input name="locName" type="text" class="form-control" id="inputLocationName" maxlength="80"/>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Address</label>
                            <input name="locAddr" type="text" class="form-control" id="inputAddress"/>
                        </div>
                    </form>
                    </div>              
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">               
                    <button id="saveLocation" type="button" class="btn btn-dialog">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <div class="bs dialogboxs modal" id="addEditCategory_dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create/Edit {!JSINHTMLENCODE(Custset_Category)}</h4>
                </div>
                <div class="modal-body">              
                    <div class="col-md-12">
                       <form id="saveCategoryForm">
                        <div class="form-group">
                            <label for="inputCategoryName">{!JSINHTMLENCODE(Custset_Category)} Name</label>
                            <input name="categoryName" type="text" class="form-control" id="inputCategoryName" maxlength="80" />
                        </div>
                    </form>
                    </div>              
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">               
                    <button id="saveCategory" type="button" class="btn btn-dialog">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <div class="bs dialogboxs modal" id="addEditResType_dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create/Edit Resource Category</h4>
                </div>
                <div class="modal-body">              
                    <div class="col-md-12">
                       <form id="saveResourceForm">
                        <div class="form-group">
                            <label for="inputResourceTypeName">Resource Category Name</label>
                            <input name="resTypeName" type="text" class="form-control" id="inputResourceTypeName" maxlength="80" />
                        </div>
                        <div class="form-group">
                            <label for="inputResourceTypeTypeName">Type of Resource</label>
                            <select name="resType" id="inputResourceTypeTypeName" class="form-control">
                                <option value="Human Resource(Non Service Provider)">Human Resource(Non Service Provider)</option>                                
                                <option value="Human Resource(Service Provider)">Human Resource(Service Provider)</option>
                                <option value="Non Human Resource">Non Human Resource</option>
                             </select>
                        </div>
                        <div class="form-group">
                            <label for="inputResourceTypeDescription">Description (Optional)</label>
                            <textarea name="resDesc" class="form-control" id="inputResourceTypeDescription"></textarea>
                        </div>
                    </form>
                    </div>              
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">               
                    <button id="saveResource" type="button" class="btn btn-dialog">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->  
    
    <div class="bs dialogboxs modal" id="addEditResourceGrid_dialog" role="dialog">
        <div class="modal-dialog" style="max-width:69%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create/Edit Resources</h4>
                </div>
                <div class="modal-body">     
                    <div class="col-md-12">
                        <div class="set-location">
                            <label style="font-size: 14px;"><strong> Resource Category&nbsp;:</strong></label>
                            <span id="resourceTypeSpan"></span>
                        </div>
                        <!-- <form>
                            <div class="relative form-group">
                                <select class="form-control">
                                    <option>Rooms</option>
                                </select>
                            </div>
                        </form> -->
                        <div class="clearfix"></div>
                        <!--<div class="set-location">
                            <label style="font-size: 14px;">Choose resources for the resource category</label>
                        </div> -->
                        <div class="labels-head" style="padding-bottom:10px;">
                             <h1 style="font-size: 14px;color:#000;font-weight:bold;">
                                 <a id="addInnerResource" href="javascript:void(0);" style="text-decoration: underline;">Add Specific Resource</a>
                             </h1>
                        </div>
                        <table id="resourceGrid" class="table table-no-bordered"></table> 
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- <div class="modal-footer">               
                    <button type="button" class="btn btn-dialog" data-dismiss="modal">Save</button>
                </div> -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <div class="bs dialogboxs modal" id="addEditResource_dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create/Edit Specific Resource</h4>
                </div>
                <div class="modal-body">              
                    <div class="col-md-12">
                       <form id="saveInnerResourceForm">
                        <div class="form-group">
                            <label for="inputResourceName">Resource Name</label>
                            <input name="innerResName" type="text" class="form-control" id="inputResourceName" maxlength="80"/>
                        </div>
                        <div class="form-group">
                            <label for="inputOverbookingLimit">Overbooking Limit</label>
                            <input name="innerResOBL" type="text" class="form-control" id="inputOverbookingLimit" />
                        </div>
                        <div class="form-group">
                            <label for="inputResourceColor">Resource Color</label>
                            <select name="innerResColor" class="form-control" id="inputResourceColor">
                                <!-- #colorListTemplate will render here -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputResourceLocation">Location</label>
                            <select name="innerResLoc" class="form-control" id="inputResourceLocation">
                                <!-- #locationListTemplate will render here -->
                            </select>
                        </div>
                        <div class="form-group hidden">
                            <label for="inputResourceResType">Resource Type</label>
                            <input name="innerResType" type="text" class="form-control" id="inputResourceResType"/>
                        </div>
                        <div class="form-group">
                            <label for="inputResourceDescription">Description (Optional)</label>
                            <textarea name="innerResDesc" class="form-control" id="inputResourceDescription"></textarea>
                        </div>
                    </form>
                    </div>              
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">               
                    <button id="saveInnerResource" type="button" class="btn btn-dialog">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <div class="bs dialogboxs modal" id="addEditPeople_dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create/Edit People</h4>
                </div>
                <div class="modal-body">              
                    <div class="col-md-12">
                       <form id="saveContactForm">
                        <div class="form-group">
                            <label for="inputContactRecordType">Record Type</label>
                            <select name="type" class="form-control" id="inputContactRecordType">
                                <option value="Service Provider">Service Provider</option>
                                <option value="Assistant">Assistant</option>                                
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputContactResType">Resource Type</label>
                            <select name="resType" class="form-control" id="inputContactResType">
                                <!-- #resTypeTemplate will render here -->
                            </select>
                        </div>
                        <div class="form-group" id="resourceTypeColorSection" style="display:none;">
                            <label for="inputContactColor">Color</label>
                            <select name="color" class="form-control" id="inputContactColor">
                                <!-- #colorListTemplate will render here -->
                            </select>
                        </div>
                        <div class="form-group" id="resourceTypeOBLSection" style="display:none;">
                            <label for="inputContactOBL">Overbooking Limit</label>
                            <input type="text" name="contactOBL" id="inputContactOBL" class="form-control" />
                        </div>                       
                        <div class="form-group">
                            <label for="inputContactSalutation">Salutation</label>
                            <select name="salutation" class="form-control" id="inputContactSalutation">
                                <!-- #salutationTemplate will render here -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputContactfName">First Name</label>
                            <input name="fname" type="text" class="form-control" id="inputContactfName" />
                        </div>
                        <div class="form-group">
                            <label for="inputContactlName">Last Name</label>
                            <input name="lname" type="text" class="form-control" id="inputContactlName" />
                        </div>
                        <div class="form-group">
                            <label for="inputContactEmail">Email</label>
                            <input name="email" type="text" class="form-control" id="inputContactEmail" />
                        </div>
                        <div class="form-group">
                            <label for="inputContactMobile">Phone (optional)</label>
                            <input name="phone" type="text" class="form-control" id="inputContactMobile" />
                        </div>
                    </form>
                    </div>              
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">               
                    <button id="saveContact" type="button" class="btn btn-dialog">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <div class="bs dialogboxs modal" id="addEditAppointmentType_dialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create/Edit Appointment Type</h4>
                </div>
                <div class="modal-body">              
                    <div class="col-md-12">
                       <form id="saveAppointmentTypeForm">
                        <div class="form-group">
                            <label for="inputAppointmentTypeTitle">Appointment Type Name</label>
                            <input name="aType" type="text" class="form-control" id="inputAppointmentTypeTitle" maxlength="80" />
                        </div>
                        <div class="form-group">
                            <label for="inputATCategoryName">{!JSINHTMLENCODE(Custset_Category)}</label>
                            <select name="category" class="form-control" id="inputATCategoryName">
                                <!-- categoryOptionTemplate will render here -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputAppTypeTime">Default Duration (in minutes)</label>
                            <input name="time" type="text" class="form-control" id="inputAppTypeTime" />
                        </div>
                        <div class="form-group">
                            <label for="inputAppTypePrice">Price</label>
                            <input name="price" type="text" class="form-control" id="inputAppTypePrice" />
                        </div>
                        <div class="form-group">
                            <label for="inputAppTypePrice">Maximum Participants</label>
                            <input name="maxpart" type="text" class="form-control" id="inputAppTypeMaxPart"/>
                        </div>
                        <div class="form-group">
                            <label for="inputAppTypePrice">Description (Optional)</label>
                            <textarea name="appointDesc" class="form-control" id="inputAppTypeDescription"></textarea>
                        </div>
                    </form>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">               
                    <button id="saveAppointmentType" type="button" class="btn btn-dialog">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <div id="confirm_dialog" class="bs dialogboxs modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Confirm</h4>
          </div>
          <div class="modal-body">
             <div class="col-md-12">
                <p>Are you sure you want to delete {!JSINHTMLENCODE(Custset_Location)} from location list !</p>
             </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dialog" id="delete_object">Delete</button>
            <button type="button" data-dismiss="modal" class="btn btn-dialog">Cancel</button>
          </div>
         </div>
        </div>
    </div>
    
    <div id="confirm_savechanges_dialog" class="bs dialogboxs modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Confirm</h4>
          </div>
          <div class="modal-body">
             <div class="col-md-12">
                <p>Changes not saved.  Continuing will delete your changes.</p>
             </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dialog" data-dismiss="modal" id="ignoreChanges">Continue</button>
            <button type="button" data-dismiss="modal" class="btn btn-dialog">Cancel</button>
          </div>
         </div>
        </div>
    </div>
    
     <div id="peopleActionPopup" class="bs dialogboxs modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
           
            <h4 class="modal-title">Add licensed {!JSINHTMLENCODE(Custset_Serviceprovider)}</h4>
          </div>
          <div class="modal-body">
             <div class="col-md-12">
                <table id="newServiceProviderGrid" class="table table-no-bordered"></table>
             </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dialog" id="saveNewServiceProviderChanges">Save</button>
          </div>
         </div>
        </div>
    </div>
    
    <div id="waitBox" class="waitingBox"></div><!-- Loader div gose here -->
    
     <script>
        Visualforce.remoting.timeout = 120000; 
        var metaDataServiceProvider = '{!JSINHTMLENCODE(Custset_Serviceprovider)}';
        var metaDataCustomer = '{!JSINHTMLENCODE(Custset_Customer)}';
        var metaDataLocation = '{!JSINHTMLENCODE(Custset_Location)}';
        var metaDataCategory = '{!JSINHTMLENCODE(Custset_Category)}';
        var metaDataAssistant = '{!JSINHTMLENCODE(Custset_Assistant)}';
        
        var metaDataCustomers = '{!JSINHTMLENCODE(Custset_CustomerPlural)}';
        var metaDataServiceProviders = '{!JSINHTMLENCODE(Custset_ServiceproviderPlural)}';
        var metaDataLocations = '{!JSINHTMLENCODE(Custset_LocationPlural)}';
        var metaDataCategories = '{!JSINHTMLENCODE(Custset_CategoryPlural)}';
        var metaDataAssistants = '{!JSINHTMLENCODE(Custset_AssistantPlural)}';
        var dateFormatLocale='{!JSINHTMLENCODE(dateFormatStatic)}';    
    
        var isEpracAdminVar = '{!isEpracAdmin}';        
        var packageNamespace='{!JSINHTMLENCODE(packageNamespace)}';
    </script>
    
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/jquery-1.11.3.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/bootstrap.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/bootstrap-table.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/jquery.validate.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/additional-methods.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/SRTimeSelectionPlugin.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/jquery.sumoselect.min.js')}"/>
    
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/jscolor.min.js')}"/>    
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/underscore-min.js')}"/>
    
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/utility.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/dataModel.js')}"/>
    
    
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/Configure/CP_PageloadScripts.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/Configure/CP_Common.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/Configure/CP_ApplicationSettingTab.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/Configure/CP_peopleCategoryMappingTab.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/Configure/CP_resourceAppointmentTypeMappingTab.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/Configure/CP_OtherTabs.js')}"/>    
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/Configure/CP_brandingTab.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Appointed, 'appointed/js/Configure/CP_registerAWFTab.js')}"/> 

    <script type="text/template" id="salutationTemplate">
        <% var sList = _.sortBy(Object.keys(data));
            _.each(sList, function(salut){ %>
        <option value="<%= salut %>"><%= salut %></option>
        <% }); %>
    </script>

    <script type="text/template" id="resTypeTemplate">
        <% _.each(data, function(dObj){ %>
        <option value="<%= dObj.ResId %>"><%= dObj.ResName %></option>
        <% }); %>       
    </script>

    <script type="text/template" id="categoryOptionTemplate">
        <% _.each(data, function(dObj){ %>
        <option value="<%= dObj.RecordId %>"><%= dObj.Name %></option>
        <% }); %>
    </script>

    <script type="text/template" id="locationListTemplate">
        <% _.each(data, function(lObj){ %>
        <option value="<%= lObj.value %>"><%= lObj.name %></option>
        <% }); %>
    </script>

    <script type="text/template" id="colorListTemplate">
        <% var cData = _.sortBy(data);  _.each(cData, function(color){ %>
        <option value="<%= color %>" data-color="<%= color %>"><%= color %></option>
        <% }); %>
    </script>

    <script type="text/template" id="catLocationListTemplate">
        <% _.each(data, function(lObj){ %>
        <option value="<%= lObj.Genericstr1 %>"><%= lObj.Genericstr2 %></option>
        <% }); %>
    </script>    
    
    <script>
        $('document').ready(function(){
            $('select[name=businessStartTime]').SRTimeSelection({timeSlotDuration:30});
            $('select[name=businessEndTime]').SRTimeSelection({timeSlotDuration:30,isStartWith24:false}); 
            $('select[name=businessStartTime]').find("option[value='{!mainStartTime}']").attr('selected', true);
            $('select[name=businessEndTime]').find("option[value='{!mainEndTime}']").attr('selected', true);
        });
        var CONFIG_REMOTING = {
            GET_CONFIG_DATA: '{!$RemoteAction.ConfigureDataController.fetchAllConfigurationData}',
            SAVE_CONFIG_DATA: '{!$RemoteAction.ConfigureDataController.saveAllConfigurationData}',
            DELETE_CONFIG_DATA: '{!$RemoteAction.ConfigureDataController.DeleteConfigureObjectData}',
            GET_LOCATION_MAPPING: '{!$RemoteAction.ConfigureDataController.FetchLocatmappingData}',
            SAVE_CAT_LOC_MAPPING: '{!$RemoteAction.ConfigureDataController.saveMapping}',
            
            SAVE_LABEL_VALUES: '{!$RemoteAction.ConfigureDataController.SaveLabelchangerValues}',
            GET_RESOURCETYPE_APPTYPE_DATA: '{!$RemoteAction.ConfigureDataController.GetRestypeAtypedata}',
            SAVE_RESOURCETYPE_APPTYPE_DATA: '{!$RemoteAction.ConfigureDataController.saveAptypeRestypeMapping}',
            GET_CATEGORY_APPTYPE_DATA: '{!$RemoteAction.ConfigureDataController.GetCategoryAppointmentype}',
            
            GET_BRANDING_DATA: '{!$RemoteAction.ConfigureDataController.getBrandingInformation}',
            SAVE_BRANDING_DATA: '{!$RemoteAction.ConfigureDataController.saveBrandingInformation}',
            
            UNSUBSCRIBE_FROM_GCAL: '{!$RemoteAction.ConfigureDataController.unsubcribeGoogleFeed}',
            SUBSCRIBE_TO_GCAL: '{!$RemoteAction.ConfigureDataController.subcribeGoogleFeed}'            
        };
        var staticResBaseUrl = '{!$Resource.Appointed}';
    </script>
    
  <!-- End Default Content REMOVE THIS -->
</apex:page>