<apex:page controller="ExportToCSV" readOnly="true" action="{!exportToCSV}" contentType="application/vnd.ms-excel#Appointed_AppointmentsInOrg.csv">{!header}
  <apex:repeat value="{!appointmentLst}" var="appointmentVar">
    {!appointmentVar.Id}, {!appointmentVar.Description},    {!appointmentVar.Appointment_Type__r.Name}, {!appointmentVar.Location_Category_Mapping__r.Location__r.Name},   {!appointmentVar.Location_Category_Mapping__r.Location__r.ID},    {!appointmentVar.Location_Category_Mapping__r.Category__r.Name},    {!appointmentVar.Location_Category_Mapping__r.Category__r.Id},    {!appointmentVar.Location_Category_Mapping__r.Contact__r.Name},    {!appointmentVar.Location_Category_Mapping__r.Contact__r.Id},    {!appointmentVar.Subject},    {!appointmentVar.StartDateTime},    {!appointmentVar.EndDateTime},    {!appointmentVar.WhoId},    {!appointmentVar.WhatId},    {!appointmentVar.Description__c},    {!appointmentVar.Event_Type__c},    {!appointmentVar.No_of_Participants__c}
  </apex:repeat>
</apex:page>