<apex:component controller="ExportSPAppointmentsController" access="global">
  <apex:attribute name="relatedId"
        description="related record Id"
        assignTo="{!ContactID}"
        type="Id" /><!--<apex:attribute name="relatedWhatId"
        description="related record WhatId"
        assignTo="{!EvWhatID}"
        type="Id" />-->BEGIN:VCALENDAR
PRODID:-//Practivo//Appointed Calendar//EN
VERSION:2.0
X-MS-OLK-FORCEINSPECTOROPEN:TRUE
X-WR-TIMEZONE:{!UserTimezone}
METHOD:CANCEL
        <Apex:repeat var="app" value="{!CancelledAppointmentwrapperlist}">
BEGIN:VEVENT
DTSTART;TZID={!UserTimezone}:{!app.FormattedStartDate}<!--{!app.Appointment.Formatted_Start_Date__c}-->
DTEND;TZID={!UserTimezone}:{!app.FormattedEndDate}<!--{!app.Appointment.Formatted_End_Date__c}-->
DESCRIPTION:Your appointment Details:\n\nPatient Details:<apex:repeat value="{!app.listpatientnames}" var="patientnames">{!patientnames}\n</apex:repeat>\nAppointment Type:{!app.Appointment.Appointment_Type__r.name}\n\nThanks.
LOCATION: {!app.Appointment.Location_Category_Mapping__r.Location__r.Name}
SEQUENCE:0
PRIORITY:5
STATUS:CANCELLED
SUMMARY:Appointment Details:- {!app.practitionername}
UID:X:2016{!app.Appointment.ID}@Appointed
TRANSP:OPAQUE
END:VEVENT
</Apex:repeat>
END:VCALENDAR
</apex:component>